/* 
verion 1.0
library tailwind 3.4.1
common css use @apply
*/

/* Typography */
.s1 {
	@apply font-semibold;
	font-size: 2rem;
	line-height: 2.8rem;
}
.s2 {
	@apply font-semibold leading-normal;
	font-size: 1.625rem;
}
.s3 {
	@apply font-semibold leading-normal;
	font-size: 1.375rem;
}
.s4 {
	@apply font-semibold leading-normal;
	font-size: 1.125rem;
}
.s5 {
	@apply font-medium leading-normal;
	font-size: 0.9375rem;
}
.s6 {
	@apply font-semibold leading-normal;
	font-size: 0.75rem;
}
.button {
	@apply font-bold leading-normal;
	font-size: 0.9375rem;
}
.lead {
	@apply font-semibold leading-normal;
	font-size: 1.125rem;
}
.body {
	font-family: 'Open Sans', sans-serif;
	@apply font-normal leading-normal;
	font-size: 1.125rem;
}
.caption {
	font-family: 'Open Sans', sans-serif;
	@apply font-normal leading-normal;
	font-size: 0.75rem;
}

/* Buttoms */

button.small {
	@apply px-3 py-1;
}
button.medium {
	@apply px-4 py-3;
}
button.large {
	@apply px-12 py-[1.12rem];
}
button.stroke {
	@apply border-2 border-C2-C bg-white text-C1-A *:stroke-C2-A;
}
button.color {
	@apply border-2 border-C2-B bg-C2-A *:stroke-C1-J text-C1-J;
}
button.bright {
	@apply  border-none bg-C1-J text-C1-A *:stroke-C1-A;
}
button.simple {
	@apply border-none  bg-C1-J text-C1-A *:stroke-C2-A;
}
